# Environment variables

# Prisma MySQL database connection
DATABASE_URL="mysql://root:password@localhost:3306/banjir_rob"

# Server Port
PORT=5000

# MQTT Broker (Public broker for prototype testing)
MQTT_BROKER_URL="mqtt://test.mosquitto.org"
MQTT_TOPIC_ACTUATOR="banjir_rob/actuator/toggle"
